@model CategoriesBlock

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-input asp-for="NumberOfCategories" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.CategoriesBlock.NumberOfCategories]" ko-bind="blockModel.numberOfCategories" />
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>