@model RegisterViewModel
@{
    ViewData["Title"] = "Access Denied";
}

@*<h2>@ViewData["Title"].</h2>*@

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h1 class="error-text tada animated"><i class="fa fa-lock text-danger error-icon-shadow"></i> @ViewData["Title"]</h1>
                    <h2 class="font-xl"><strong>Oooops!</strong></h2>
                    <br />
                    <p class="lead semi-bold">
                        <strong>You do not have access to this page.</strong><br><br>
                        <small>
                            If you believe you should have access to this page, please contact the site administrator.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>