@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    You have requested to login with a recovery code. This login will not be remembered until you provide
    an authenticator app code at login or disable 2FA and login again.
</p>
<div class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Third">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
                <label asp-for="RecoveryCode" class="form-label"></label>
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}