@model ActiveDiscussionsModel

@{
    ViewBag.Title = T[LocalizableStrings.PageTitle.ActiveDiscussions];
}
<div class="page active-discussions-page">
    @await Component.ForumBreadcrumbsAsync()
    <partial name="_ForumHeader" />
    <hr class="clearfix" />
    <partial name="_ActiveTopics" model="Model" />
</div>
