@model ForumGroupModel

@{
    ViewBag.Title = Model.Name;
}

<div class="page forum-group-page">
    @await Component.ForumBreadcrumbsAsync(forumGroupId: Model.Id)
    @await Html.PartialAsync("_ForumHeader")
    <hr class="clearfix" />
    @await Html.PartialAsync("_ForumGroup", Model)
</div>