@model ForumGroupModel

@{
    ViewBag.Title = Model.Name;
}

<div class="page forum-group-page">
    @await Component.ForumBreadcrumbsAsync(forumGroupId: Model.Id)
    <partial name="_ForumHeader" />
    <hr class="clearfix" />
    <partial name="_ForumGroup" model="Model" />
</div>