@using Mantle.Plugins.Messaging.Forums.Extensions
@using Mantle.Plugins.Messaging.Forums.Models
@model ForumGroupModel

@{
    ViewBag.Title = Model.Name;
}

<div class="page forum-group-page">
    @await Component.ForumBreadcrumbsAsync(forumGroupId: Model.Id)
    @Html.Partial("_ForumHeader")
    <hr class="clearfix" />
    @Html.Partial("_ForumGroup", Model)
</div>