<div id="roles-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mantle-ko-button state="Primary" ko-click="roleModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="viewUsers" icon="fa fa-user" text="@T[MantleWebLocalizableStrings.Membership.Users]" />
    </div>
    <mantle-grid id="RolesGrid" />
</div>