<div id="users-grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <div class="float-start">
            <mantle-ko-button state="Primary" ko-click="userModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
            <mantle-ko-button state="Default" ko-click="viewRoles" icon="fa fa-users" text="@T[MantleWebLocalizableStrings.Membership.Roles]" />
        </div>
        <div class="float-end">
            @Html.Mantle().RolesDropDownList("RoleFilter", null, new { @class = "form-control", data_bind = "value: userModel.filterRoleId, event: { change: userModel.filterRole }" }, string.Empty)
        </div>
    </div>
    <mantle-grid id="UsersGrid" />
</div>