@model PageSettings

<div id="settings-content">
    <mantle-input asp-for="NumberOfPageVersionsToKeep" asp-label="@T[MantleCmsLocalizableStrings.Settings.Pages.NumberOfPageVersionsToKeep]" asp-validation-msg="true" type="number" />
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>