@model HtmlBlock

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-textarea asp-for="BodyContent"
                         asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.HtmlBlock.BodyContent]"
                         asp-richtext="true"
                         ko-bind="blockModel.bodyContent"
                         ko-richtext-config="blockModel.tinyMCEConfig" />

        <mantle-textarea asp-for="Script"
                         asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.HtmlBlock.Script]"
                         ko-bind="blockModel.script"
                         asp-rows="7" />
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>