@using Mantle.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Mantle.Web.ContentManagement
@addTagHelper *, Mantle.Web

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mantle-ko-button state="Primary" ko-click="downloadCsv" icon="fa fa-save" text="@T[MantleCmsLocalizableStrings.Newsletters.ExportToCSV]" />
    </div>
    <mantle-grid />
</div>

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)