@using Mantle.Web.ContentManagement

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings

@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="downloadCsv()" class="btn btn-primary">
                <i class="fa fa-download"></i>
                @T[MantleCmsLocalizableStrings.Newsletters.ExportToCSV]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="grid"></div>
        </div>
    </div>
</template>