@using Mantle.Plugins.Widgets.FullCalendar
@using Mantle.Web.Mvc

@model FullCalendarPluginSettings

<div id="settings-content">
    @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.resources = ko.observableArray([]);

        if (data) {
            if (data.Resources) {
                viewModel.setResources(data.Resources);
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.resources;
    }

    function onBeforeSave(viewModel) {
        const data = {
            Resources: viewModel.resources()
        };

        viewModel.value(ko.mapping.toJSON(data));
    };
</script>