@using Mantle.Plugins.Widgets.FullCalendar
@using Mantle.Web.Mvc

@model FullCalendarPluginSettings

<div id="settings-content">
    @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>