@using Mantle.Web.ContentManagement.Areas.Admin.Newsletters

@model NewsletterUserProfileProvider

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.SubscribeToNewsletters) @T(MantleCmsLocalizableStrings.UserProfile.Newsletter.SubscribeToNewsletters)
    </label>
</div>