@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
    string cultureCode = ViewBag.CultureCode;
}

<template>
    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
    @Html.Hidden("CultureCode", cultureCode)

    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="exportFile()" class="btn btn-success">
                <i class="fa fa-download"></i>
                @T[MantleWebLocalizableStrings.General.Export]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="grid"></div>
        </div>
    </div>
</template>