@{
    string cultureCode = ViewBag.CultureCode;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("CultureCode", cultureCode)

<div id="grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Success" ko-click="exportFile" icon="fa fa-download" text="@T[MantleWebLocalizableStrings.General.Export]" />
    </div>
    <mantle-grid />
</div>