@using Mantle.Plugins.Widgets.Bootstrap3
@using Mantle.Web.Mvc

@model Bootstrap3PluginSettings

<div id="settings-content">
    @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
</div>

<script type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.resources = ko.observableArray([]);

        if (data) {
            if (data.Resources) {
                viewModel.setResources(data.Resources);
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.resources;
    }

    function onBeforeSave(viewModel) {
        const data = {
            Resources: viewModel.resources()
        };

        viewModel.value(ko.mapping.toJSON(data));
    };
</script>