@using Mantle.Web.ContentManagement
@using Mantle.Web.ContentManagement.Areas.Admin.Sitemap.Domain
@model IEnumerable<SitemapConfig>
@addTagHelper *, Mantle.Web

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mantle-ko-button state="Success" ko-click="generateFile" icon="fa fa-save" text="@T[MantleCmsLocalizableStrings.Sitemap.GenerateFile]" />
    </div>
    <mantle-grid />
</div>