@using Mantle.Web.ContentManagement
@using Mantle.Web.ContentManagement.Areas.Admin.Sitemap.Domain
@model IEnumerable<SitemapConfig>

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings

@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="generateFile()" class="btn btn-success">
                <i class="fa fa-save"></i>
                @T[MantleCmsLocalizableStrings.Sitemap.GenerateFile]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="grid"></div>
        </div>
    </div>
</template>