@using Mantle.Web
@using Mantle.Web.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer T

@model DateTimeSettings

<div id="settings-content">
    <div class="form-group">
        @Html.LabelFor(m => m.DefaultTimeZoneId)
        <input type="number" id="DefaultTimeZoneId" name="DefaultTimeZoneId" class="form-control" value.bind="defaultTimeZoneId" />
        @Html.ValidationMessageFor(m => m.DefaultTimeZoneId)
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="AllowUsersToSetTimeZone" name="AllowUsersToSetTimeZone" checked.bind="allowUsersToSetTimeZone" /> @T[MantleWebLocalizableStrings.Settings.DateTime.AllowUsersToSetTimeZone]
        </label>
    </div>
</div>

<script type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.defaultTimeZoneId = '';
        viewModel.allowUsersToSetTimeZone = false;

        if (data) {
            if (data.DefaultTimeZoneId) {
                viewModel.defaultTimeZoneId = data.DefaultTimeZoneId;
            }
            if (data.AllowUsersToSetTimeZone) {
                viewModel.allowUsersToSetTimeZone = data.AllowUsersToSetTimeZone;
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.defaultTimeZoneId;
        delete viewModel.allowUsersToSetTimeZone;
    }

    function onBeforeSave(viewModel) {
        var data = {
            DefaultTimeZoneId: viewModel.defaultTimeZoneId,
            AllowUsersToSetTimeZone: viewModel.allowUsersToSetTimeZone
        };

        viewModel.value = JSON.stringify(data);
    };
</script>