@using Mantle.Web
@using Mantle.Web.Security.Membership
@addTagHelper *, Mantle.Web
@inject Microsoft.Extensions.Localization.IStringLocalizer T

@model MembershipSettings

<div id="settings-content">
    <p>Generated Passwords</p>
    <mantle-input asp-for="GeneratedPasswordLength" asp-label="@T[MantleWebLocalizableStrings.Settings.Membership.GeneratedPasswordLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="GeneratedPasswordNumberOfNonAlphanumericChars" asp-label="@T[MantleWebLocalizableStrings.Settings.Membership.GeneratedPasswordNumberOfNonAlphanumericChars]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="DisallowUnconfirmedUserLogin" asp-label="@T[MantleWebLocalizableStrings.Settings.Membership.DisallowUnconfirmedUserLogin]" />
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>