@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="@MantleWebConstants.AdminCss.Columns.Quarter">
            <partial name="_ManageNav" />
        </div>
        <div class="@MantleWebConstants.AdminCss.Columns.ThreeQuarters">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}