<div aurelia-app="main">
    <div class="splash">
        <div class="message">@T[MantleWebLocalizableStrings.General.Loading]</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <script src="/jspm_packages/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/jspm_packages/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
    <script src="/jspm_packages/github/twbs/bootstrap@3.3.7/js/bootstrap.min.js"></script>

    @* Sometimes the dropdowns stop working. This was an attempt to fix it. *@
    @* <script>
        $(document).ready(function () {
            $('a[data-toggle=dropdown').dropdown();
    });
    </script> *@

    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        SystemJS.import('aurelia-bootstrapper');
    </script>
</div>