<div aurelia-app="main">
    <div class="splash">
        <div class="message">Loading...</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <script src="/jspm_packages/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/jspm_packages/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
    <script src="/jspm_packages/github/twbs/bootstrap@3.3.7/js/bootstrap.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        SystemJS.import('aurelia-bootstrapper');
    </script>
</div>