<div id="applicationHost">
    @await Html.PartialAsync("_splash")
</div>

@section scripts {
    <script src="~/js/knockout-3.4.0.js"></script>
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <script type="text/javascript" src="~/js/require.js" data-main="/js/App/Admin/main"></script>
}